[submodule "CV/AICity2020-Anomaly-Detection/det_code/PaddleDetection"]
	path = CV/AICity2020-Anomaly-Detection/det_code/PaddleDetection
	url = https://github.com/PaddlePaddle/PaddleDetection.git  

[submodule "CV/VehicleCounting/PaddleDetection/PaddleDetection"]
	path = CV/VehicleCounting/PaddleDetection/PaddleDetection
	url = https://github.com/PaddlePaddle/PaddleDetection.git
