packaging
datasets
tqdm
rouge
jieba
fuzzywuzzy
transformers==4.31.0
einops
numpy
matplotlib
sentencepiece
rouge
evaluate==0.4.1
packaging
xformers
accelerate
evaluate
absl-py
nltk
rouge_score
tiktoken